# **Pandas 11 - Seleksi Kolom dan Baris pada Data Frame Menggunakan loc**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   6   2  16   8   7
1   1  16  14  11  17
2   1   3  12   9   7
3   7   4   9   6  13
4  10   1   7   2  14
5  12  15  15  16   5
6  13   6  15  15  17
7  10   8   9   6   3
8  11  15   3   4  18
9   2   6  11   6  11

### Seleksi kolom dan baris menggunakan loc

In [4]:
df.loc[[0,3,4], ['B','E']]

   B   E
0  2   7
3  4  13
4  1  14

### Seleksi baris dengan kondisi

In [5]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
1  16  11  17
5  15  16   5
8  15   4  18

### Slicing Data Frame dengan loc

In [6]:
df.loc[0:4, 'B':'D']

    B   C   D
0   2  16   8
1  16  14  11
2   3  12   9
3   4   9   6
4   1   7   2