# **Pandas 09 - Membagi Data Frame Menjadi Dua Secara Acak**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

# Cek Versi
print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   9   2  12  13  13
1   5  10  11  17   5
2   3   3  12  11  16
3  15  13  19   8  19
4   3  17   6  13  13
5  14  15   4  11   4
6   3   9  14   5  13
7   3  16  10   1   5
8   6   9   7  17   6
9  16   1  13  18  11

### Membagi Data Frame Menjadi Dua Secara Acak Berdasarkan Proporsi Tertentu

In [4]:
# Menggunakan atribut shape untuk menampilkan dimensi (jumlah baris dan kolom) dari data frame
df.shape

(10, 5)

In [5]:
# Menetapkan proporsi sebagai 0.7, yang akan digunakan untuk membagi data frame menjadi dua subset
proporsi = 0.7

# Menggunakan metode sample untuk mengambil sebagian data frame sesuai dengan proporsi yang ditentukan
df_1 = df.sample(frac=proporsi)

# Menggunakan metode drop untuk menghapus baris-baris yang telah dipilih dalam df_1 dari data frame utama df
df_2 = df.drop(df_1.index)

# Menampilkan dimensi (jumlah baris dan kolom) dari kedua subset data frame
print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [6]:
# Menampilkan subset pertama (df_1) dari data frame, yang dihasilkan dengan metode sample
df_1

    A   B   C   D   E
5  14  15   4  11   4
6   3   9  14   5  13
1   5  10  11  17   5
4   3  17   6  13  13
7   3  16  10   1   5
9  16   1  13  18  11
8   6   9   7  17   6

In [7]:
# Menampilkan subset kedua (df_2) dari data frame, yang dihasilkan dengan metode drop
df_2

    A   B   C   D   E
0   9   2  12  13  13
2   3   3  12  11  16
3  15  13  19   8  19