# **Pandas 01 - Menyertakan Prefix dan Suffix pada seluruh Kolom Data Frame**

### Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [4]:
n_rows = 5 #Mengatur jumlah BARIS pada Data Frame
n_cols = 5 #Mengatur jumlah KOLOM pada Data Frame

#Membuat tuple yang berisi nama-nama kolom ('A','B','C','D','E')
cols = tuple('ABCDE')

#Membuat DataFrame dengan nilai random antara 1 - 10
#Ukuran DataFrame ditentukan (n_rows x n_cols)
#Memberi nama kolom sesuai dengan tuple 'cols' 
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns = cols) 

df #Mencetak DataFrame yang telah dibuat

   A  B  C  D  E
0  1  8  6  1  6
1  8  6  9  4  6
2  7  1  8  8  6
3  6  1  3  6  1
4  4  4  1  4  1

In [5]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

### Menyertakan Prefix Kolom

In [5]:
# Menambahkan awalan 'kolom_' ke setiap label kolom dalam data frame menggunakan metode add_prefix
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        1        1        6        5
1        7        2        7        9        4
2        3        8        3        3        6
3        9        6        5        3        8
4        7        5        7        6        2

### Menyertakan Suffix Kolom

In [6]:
# Menambahkan awalan 'field_' ke setiap label kolom dalam data frame menggunakan metode add_prefix
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        1        8        6        1        6
1        8        6        9        4        6
2        7        1        8        8        6
3        6        1        3        6        1
4        4        4        1        4        1