# **Pandas 20 - Menggabungkan (merge) Dua Data Frame Secara Berdampingan**

### Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

2.2.0

In [5]:
# Membuat DataFrame 'df1' dengan dua kolom ('col1' dan 'col2') dan tiga baris data.
d1 = {'col1':[1, 2, 3], 
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [6]:
# Membuat DataFrame 'df2' dengan dua kolom ('col3' dan 'col4') dan tiga baris data.
d2 = {'col3':[4, 5, 6], 
      'col4':[40, 50, 60]}
df2 = pd.DataFrame(d2)
df2

   col3  col4
0     4    40
1     5    50
2     6    60