# **Pandas 17 - Resampling pada Data Deret Waktu (time series data)**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [5]:
# Menentukan jumlah baris (n_rows) dan kolom (n_cols) dalam data frame
n_rows = 365 * 24
n_cols = 2

# Menentukan label kolom (cols) dalam data frame
cols = ['col1', 'col2']

# Membuat data frame dengan nilai acak dari 1 hingga 20, dengan jumlah baris dan kolom yang telah ditentukan
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)

# Menggunakan pd.date_range untuk membuat indeks tanggal dengan frekuensi 'H' (jam)
df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

# Menampilkan data frame yang telah dibuat
df

                     col1  col2
2023-01-01 00:00:00     5    18
2023-01-01 01:00:00     2     8
2023-01-01 02:00:00     4    13
2023-01-01 03:00:00    13     9
2023-01-01 04:00:00    14    17
...                   ...   ...
2023-12-31 19:00:00    18     3
2023-12-31 20:00:00     1     9
2023-12-31 21:00:00     5     9
2023-12-31 22:00:00     7    14
2023-12-31 23:00:00    14    11

[8760 rows x 2 columns]

### Resampling Data dengan Interval Monthly

In [8]:
# Menggunakan metode resample pada data frame untuk mengelompokkan data berdasarkan frekuensi bulan ('M')
df.resample('ME')['col1'].sum().to_frame()

            col1
2023-01-31  7194
2023-02-28  6782
2023-03-31  7504
2023-04-30  7422
2023-05-31  7384
2023-06-30  7188
2023-07-31  7492
2023-08-31  7640
2023-09-30  6933
2023-10-31  7345
2023-11-30  7101
2023-12-31  7370

### Resampling Data dengan Interval Daily

In [10]:
# Menggunakan metode resample pada data frame untuk mengelompokkan data berdasarkan frekuensi harian ('D')
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   225
2023-01-02   221
2023-01-03   279
2023-01-04   227
2023-01-05   258
...          ...
2023-12-27   245
2023-12-28   240
2023-12-29   185
2023-12-30   229
2023-12-31   224

[365 rows x 1 columns]