# **Pandas 53 - Membuat kategori baru menurut threshold**

### Import Modules

In [14]:
import pandas as pd

print(pd.__version__)

2.2.0

### Persiapan Data Frame

In [15]:
d = {'hobi' : ['jogging', 'mancing', 'renang',
               'mancing', 'mancing', 'baca',
               'baca', 'mancing', 'fotografi',
               'mancing', 'camping']}
df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

### Membuat kategori baru berdasarkan threshold (ambang batas)

In [17]:
df['hobi'].value_counts()

hobi
mancing      5
baca         2
jogging      1
renang       1
fotografi    1
camping      1
Name: count, dtype: int64

In [18]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

hobi
mancing      0.454545
baca         0.181818
jogging      0.090909
renang       0.090909
fotografi    0.090909
camping      0.090909
Name: proportion, dtype: float64

In [19]:
threshold = 0.1
hobi_lain = persentase[persentase < threshold].index
hobi_lain

Index(['jogging', 'renang', 'fotografi', 'camping'], dtype='object', name='hobi')

In [20]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [21]:
df['hobi'].value_counts(normalize=True)

hobi
mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: proportion, dtype: float64