# **Pandas 55 - Menghitung jumlah baris menurut kriteria tertentu**

### Import Modules

In [10]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [11]:
n_rows = 16
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                 columns=cols)
df

    A  B  C  D  E
0   3  1  2  5  4
1   5  3  5  1  7
2   6  4  4  4  3
3   5  7  7  6  9
4   6  5  6  3  9
5   9  2  6  5  6
6   9  1  8  2  3
7   1  1  1  9  9
8   1  4  2  7  1
9   7  1  1  9  8
10  6  6  9  3  3
11  9  3  7  8  6
12  2  1  6  6  7
13  3  4  5  6  5
14  4  9  4  2  2
15  9  2  6  6  8

### Menghitung jumlah baris menurut kriteria tertentu

In [12]:
(df['A'] < 5).sum()

6

In [13]:
(df['A'] < 5).mean()

0.375