# **Pandas 54 - Menyimpan Data Frame sebagai file CSV**

### Import Modules

In [15]:
import pandas as pd

print(pd.__version__)

2.2.0

### Persiapan Data Frame

In [16]:
data = {'nama' : ['bayu', 'indra', 'devi', 'agni'],
     'jenis_kelamin' : ['L', 'L', 'P', 'L'],
     'usia' : [23, 21, 22, 25]}
df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    21
2   devi             P    22
3   agni             L    25

### Menyimpan data frame sebagai file CSV

In [23]:
df.to_csv(data_peserta.csv)

NameError: name 'data_peserta' is not defined