## **Pandas 47 - Penanganan Kolom dengan Tipe Data Beragam**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [3]:
d = {'nama':['bejo', 'tejo', 'wati', 'tiwi', 'cecep'], 
     'ipk':[2, '3', 3, 2.75, '3.25']}
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

### Deteksi dan Penanganan Kolom dengan Tipe Data Beragam (Mixed Data Types)
- Untuk mendeteksi mixed data type pada kolom IPK, gunakan fungsi apply(type) pada kolom tersebut.
- Gunakan fungsi value_counts() pada data frame untuk melihat distribusi data type di setiap kolom.

In [4]:
df.dtypes

nama    object
ipk     object
dtype: object

In [5]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [6]:
df['ipk'].apply(type).value_counts()

ipk
<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: count, dtype: int64