## **Pandas 48 - Cummulative Count pada Pandas Data Frame**

### Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

2.2.0

### Persiapan Data Frame

In [3]:
d = {'penjual':['bejo', 'tejo', 'wati', 'bejo', 'cecep', 'tejo', 'wati', 'bejo'], 
     'barang':['monitor', 'monitor', 'keyboard', 'mouse', 'keyboard', 'monitor', 'laptop', 'monitor']}

df = pd.DataFrame(d)
df

  penjual    barang
0    bejo   monitor
1    tejo   monitor
2    wati  keyboard
3    bejo     mouse
4   cecep  keyboard
5    tejo   monitor
6    wati    laptop
7    bejo   monitor

### Mengenal Cummulative Count dengan cumcount()
- Cumulative count adalah penjumlahan baris.
- DataFrame dikelompokkan terlebih dahulu dan dihitung menggunakan fungsi cumcount().

In [4]:
# Mengurutkan DataFrame berdasarkan kolom 'penjual'
df_sorted = df.sort_values(by='penjual')

# Menghitung jumlah tiap penjual secara kumulatif
df_sorted['count_tiap_penjual'] = df_sorted.groupby('penjual').cumcount() + 1

df_sorted

  penjual    barang  count_tiap_penjual
0    bejo   monitor                   1
3    bejo     mouse                   2
7    bejo   monitor                   3
4   cecep  keyboard                   1
1    tejo   monitor                   1
5    tejo   monitor                   2
2    wati  keyboard                   1
6    wati    laptop                   2

In [5]:
# Mengurutkan DataFrame berdasarkan kolom 'barang'
df_sorted = df.sort_values(by='barang')

# Menghitung jumlah tiap barang secara kumulatif
df_sorted['count_tiap_barang'] = df_sorted.groupby('barang').cumcount() + 1
df_sorted

  penjual    barang  count_tiap_barang
2    wati  keyboard                  1
4   cecep  keyboard                  2
6    wati    laptop                  1
0    bejo   monitor                  1
1    tejo   monitor                  2
5    tejo   monitor                  3
7    bejo   monitor                  4
3    bejo     mouse                  1

In [6]:
# Mengurutkan DataFrame berdasarkan kolom 'penjual' dan 'barang'
df_sorted = df.sort_values(by=['penjual', 'barang'])

# Menghitung jumlah pasangan kolom secara kumulatif
df_sorted['count_pasangan_kolom'] = df_sorted.groupby(['penjual', 'barang']).cumcount() + 1
df_sorted

  penjual    barang  count_pasangan_kolom
0    bejo   monitor                     1
7    bejo   monitor                     2
3    bejo     mouse                     1
4   cecep  keyboard                     1
1    tejo   monitor                     1
5    tejo   monitor                     2
2    wati  keyboard                     1
6    wati    laptop                     1