# **Pandas 49 - Seleksi Kolom dengan f-string**

### Import Modules

In [11]:
import pandas as pd

print(pd.__version__)

2.2.0

### Persiapan Data Frame

In [12]:
df = pd.read_csv('Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### **Seleksi Kolom dengan f-string**
- Untuk seleksi kolom, gunakan df[].
- Gunakan toframe() untuk menyusun kolom secara rapi.
- Gunakan head() untuk melihat 5 data pertama.
- Modifikasi df[] dengan f-string seperti contoh ke-2.

In [13]:
df['SepalWidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [14]:
part = 'Sepal'

df[f'{part}WidthCm'].to_frame().head()

   SepalWidthCm
0           3.5
1           3.0
2           3.2
3           3.1
4           3.6

In [15]:
df[['PetalWidthCm', 'PetalLengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4

In [16]:
part = 'Petal'

df[[f'{part}WidthCm', f'{part}LengthCm']].head()

   PetalWidthCm  PetalLengthCm
0           0.2            1.4
1           0.2            1.4
2           0.2            1.3
3           0.2            1.5
4           0.2            1.4