# **Pandas 06 - Mengganti Nama (label) Kolom pada Data Frame**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [2]:
# Mengimpor library pandas untuk manipulasi data frame
import pandas as pd

# Mengimpor library numpy untuk menghasilkan bilangan acak
import numpy as np

# Menentukan jumlah baris, kolom, dan label kolom untuk data frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

# Membuat data frame dengan nilai acak antara 1 dan 10
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)

# Menampilkan data frame yang telah dibuat
df

   A  B  C  D  E
0  5  5  4  4  5
1  4  3  4  7  7
2  3  6  7  8  4
3  4  1  9  7  9
4  5  9  1  7  6

### Mengganti Nama (label) Untuk Sebuah Kolom pada Data Frame

In [3]:
# Menggunakan metode rename untuk mengganti nama kolom 'C' menjadi 'Hobi' dalam data frame
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  5  5     4  4  5
1  4  3     4  7  7
2  3  6     7  8  4
3  4  1     9  7  9
4  5  9     1  7  6

### Mengganti Nama (label) Untuk Banyak Kolom pada Data Frame

In [4]:
# Menggunakan metode rename untuk mengganti beberapa nama kolom dalam data frame
# Kolom 'A' diganti menjadi 'Nama', 'B' diganti menjadi 'Alamat', dan 'D' diganti menjadi 'Kota'
df.rename(columns={'A':'Nama', 'B':'Alamat', 'D':'Kota'})

   Nama  Alamat  C  Kota  E
0     5       5  4     4  5
1     4       3  4     7  7
2     3       6  7     8  4
3     4       1  9     7  9
4     5       9  1     7  6