# **Pandas 05 - Membalik Urutan Baris dan Kolom pada Data Frame**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [3]:
# Mengimpor library pandas untuk manipulasi data frame
import pandas as pd

# Mengimpor library numpy untuk menghasilkan bilangan acak
import numpy as np

# Menentukan jumlah baris, kolom, dan label kolom untuk data frame
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

# Membuat data frame dengan nilai acak antara 1 dan 10
df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)

# Menampilkan data frame yang telah dibuat
df

   A  B  C  D  E
0  2  6  2  8  5
1  7  7  9  2  8
2  8  2  5  5  2
3  6  7  6  9  7
4  1  9  5  9  5

### Membalik Urutan Kolom

In [4]:
# Menggunakan lokasi (loc) untuk memilih semua baris dan kolom dalam data frame dengan urutan kolom terbalik
df.loc[:, ::-1]

   E  D  C  B  A
0  5  8  2  6  2
1  8  2  9  7  7
2  2  5  5  2  8
3  7  9  6  7  6
4  5  9  5  9  1

### Membalik Urutan Baris

In [5]:
# Menggunakan lokasi (loc) untuk memilih semua baris dalam data frame dengan urutan baris terbalik
df.loc[::-1]

   A  B  C  D  E
4  1  9  5  9  5
3  6  7  6  9  7
2  8  2  5  5  2
1  7  7  9  2  8
0  2  6  2  8  5

### Membalik Urutan Baris dan Melakukan Penyesuaian Ulang Index

In [6]:
# Menggunakan lokasi (loc) untuk memilih semua baris dalam data frame dengan urutan baris terbalik,
# kemudian mereset indeks agar indeks baru diatur secara berurutan
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  1  9  5  9  5
1  6  7  6  9  7
2  8  2  5  5  2
3  7  7  9  2  8
4  2  6  2  8  5