## **Pandas 39 - Mengacak Urutan Baris pada Data Frame**

### Import Modules

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [3]:
n_rows = 6
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), 
                  columns=cols)
df

   A  B  C  D  E
0  3  4  3  1  4
1  1  4  1  1  4
2  2  3  1  1  3
3  4  4  3  2  3
4  1  3  3  1  1
5  1  4  1  3  1

### Mengacak Urutan Baris pada DataFrame

In [4]:
df.sample(frac=1.0, random_state=1)

   A  B  C  D  E
2  2  3  1  1  3
1  1  4  1  1  4
4  1  3  3  1  1
0  3  4  3  1  4
3  4  4  3  2  3
5  1  4  1  3  1