# **Pandas 30 - Akses Nilai Variabel Dalam Fungsi Query**

### Import Modules

In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.24.2

### Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   1  12   5  10   9
1   6   8  17  19   8
2   4  17  14  13   1
3  17  15   7  18  15
4   3  19   8  12   7

### Akses Nilai Variabel pada query()

In [5]:
# Menyeleksi baris pada kolom A yang memiliki nilai lebih dari 10
df.query('A > 10')

    A   B  C   D   E
3  17  15  7  18  15

In [6]:
# Menghitung rata-rata dari kolom A
rerata = df['A'].mean() 
rerata

6.2

In [7]:
df.query('A > @rerata') # menampilkan baris nilai yang lebih besar dari rata-rata

    A   B  C   D   E
3  17  15  7  18  15