# **Pandas 27 - Fungsi Agregasi First() dan Last()**

### Import Modules

In [2]:
import pandas as pd

print(pd.__version__)

2.2.0

### Persiapan Data Frame

In [3]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'], 
     'pasien':['Abdul', 'Rahmat', 'Asep', 'Joko', 'Wiwin', 'Lisa']}

df = pd.DataFrame(d)
df

  dokter  pasien
0   Budi   Abdul
1   Wati  Rahmat
2   Iwan    Asep
3   Budi    Joko
4   Budi   Wiwin
5   Wati    Lisa

### Mengenal Fungsi Agregasi First() dan Last()

In [4]:
# Menggunakan groupby untuk menghitung jumlah pasien setiap dokter
df.groupby('dokter')['pasien'].count().to_frame()

        pasien
dokter
Budi         3
Iwan         1
Wati         2